<section>
    <div class="line"></div>
        <!-- <div class="contact">
            <div class="first">
                <img src="../../../assets/instaicon2.png" alt=""   class="pic">
                <h5>Piyush Jalwaniya</h5>
                <p>Lorem ipsum dolor sit ametr, placeat laudantium, ipsa voluptate eos! Hic, similique!</p>
            </div>
            <div class="second">
                <h5>Sahil Zodge</h5>
            </div>
        </div> -->
        <div class="head">
            <p>For Any Queries Contact </p>

        </div>
        <div class="contact">
            <div class="card" style="width: 16rem;">
                <div class="imgpiyush photos">                <img src="../../../assets/piyushnew.png.HEIC" class="card-img-top" alt="...">
                </div>
                <br><br><br><br>
                <div class="card-body">
                  <h5 class="card-title">Piyush Jalwaniya</h5>
                  <p class="position">Hospitality Manager</p>
                  <p class="card-text"><i class="fa-solid fa-phone" style="color: #000000;"></i><a href="tel:7427052301" style="color: #000000;">:7427052301</a> </p>      
                           </div>
              </div>
              <div class="card" style="width: 16rem;">
                <div class="imgsahil photos">                <img src="../../../assets/sahilzodge.jpg" class="card-img-top" alt="...">
                </div>
                <br><br><br><br>
                <div class="card-body">
                  <h5 class="card-title">Sahil Zodge</h5>
                  <p class="position">Hospitality Manager</p>
                  <p class="card-text"><i class="fa-solid fa-phone" style="color: #000000;"></i><a style="color: #000000;" href="tel:9168771100">:9168771100</a></p>
                </div>
        </div>
          </div>
        
        
        <div class="sponsers">

        <ul>
                <div class="linkss">
                                     <a href="https://www.youtube.com/@aavhaniitbombay1940">
                                        <i class="fa-brands fa-youtube fa-2x"  style="color: #ffffff;"></i>

                                     </a>
                                     
                                    <a href="https://twitter.com/Aavhan_IITB">   
                                        <!-- <i class="fa-solid fa-x" style="color: #ffffff;"></i>    -->
                                                      <i class="fa-brands fa-twitter fa-2x" style="color: #ffffff;"></i>
                                    </a>
                                    <a href="https://in.linkedin.com/company/aavhan-iit-bombay">
                                        <i class="fa-brands fa-linkedin-in fa-2x" style="color: #ffffff;"></i>

                                    </a>
                                    <a href="https://www.instagram.com/aavhan_iitb/?hl=en">
                                        <i class="fa-brands fa-instagram fa-2x" style="color: #ffffff;"></i>

                                    </a>
                                
                                    <!-- <a href="https://twitter.com/Aavhan_IITB">      
                                        <i class="fa-brands fa-2x-twitter" style="color: blanchedalmond;"></i>
                                </a> -->


                </div>
           
        </ul>
    </div>
    <div class="copyright">
        All Rights Reserved
    </div>
</section>