  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <nav class="navbar navbar-expand-lg">
    <a href="" routerLink="/home">
      <img src="../../../assets/aavhan_logo1.png" alt="Aavhan_Logo" id="aavhanlogo">
    </a>
  
    <a href="" routerLink="/home">
      <img src="../../../assets/aavhan text-fotor-bg-remover-2023080423538.png" alt="" class="aavhanhead">
    </a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
      <span class="navbar-toggler-icon">
      <i class="fas fa-bars fa-1x"></i>
      </span></button>
   
    <div class="collapse navbar-collapse navpro" id="navbarNav">
      <ul class="navbar-nav ml-auto">
  
        <li class="nav-item active">
        </li>
  
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <div class="nav-product">
            <a class="nav-link active" [routerLink]="'/register'">
              <div class="join">Join Us!!</div>
            </a>
          </div>
        </li>
  
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <div class="nav-product">
            <a class="nav-link arrow-icon" [routerLink]="'/login'">
              Login
            </a>
          </div>
        </li>
  
        <li class="nav-item" *ngIf="isLoggedIn">
          <div class="nav-product">
            <a class="nav-link" (click)="logout()">Logout</a>
          </div>
        </li>
        <span>
          <mat-icon routerLink="profile"
            style="width:150%;height:150%;margin-top:4%;border-radius: 100px;margin-left: -10px;">
          </mat-icon>
        </span>
      </ul>
    </div>
  </nav>
  <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br> -->
  