<div class="big">
    <h1>Forgot Password</h1>
  <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone:true}"  >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <button  class="btn btn-primary" (click)="sendotp()">Send OTP</button>

      </div>
      <div class="form-group">
        <label for="otp">OTP</label>
        <input type="text" class="form-control" id="otp" placeholder="OTP" [(ngModel)]="enteredOTP" [ngModelOptions]="{standalone:true}" >
        <!-- <span class="toggle-password" (click)="togglePasswordVisibility()"> -->
          <!-- <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i> -->
        <!-- </span> -->
       </div>
       <div class="btnlog">
        <button  class="btn btn-primary" (click)="verifyOTP()">Submit</button> 
  
       </div>
    </form>
    <br><br>

    <form action="" *ngIf="!isVisible">
      <div >
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" [ngModelOptions]="{standalone:true}">
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
        </span>
      </div>
      <div class="text-center">     
         <button (click)="changepassword()" class="btn-primary btn text-center" id="changepassword">Change Password</button>
      </div>
      
    </form>
    
    <br><br>
  </div>
  