body {
    margin: 0;
    padding: 0;
  }
  #referralcode{
    font-weight: bolder;
    font-size: large;
  }
  .sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    /* height: 600px; */
  }
  .firstname{
    font-size: 30px;
    font-weight: 500;
  }
  .referralcode{
    font-weight: 600;
    font-size: 18px;
  }
  .profile {
    text-align: center;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .head2{
    font-weight: 800;
  }
  
  .profile h2 {
    margin: 0;
  }
  
  .details p {
    margin: 5px 0;
    text-align: center;
  }
  .process{
    color: black;
    display: flex;
    justify-content: center;

  }
  /* .content {
    width: calc(100% - 250px); /* Adjust the width based on your sidebar's width */
   
  .structure{
    color: black;
  }
  .profilepage {
    display: flex;
  }
  
  /* .sidebar {
    flex: 1; 
    padding: 20px; 
    width: 15%;

  } */
  
  .content {
    flex: 4; /* Content takes up 1/2 of available space */
    padding-left: 20px; 
    background-color: blanchedalmond;
    width: 85%;
    

    justify-items: centers;
  }
  h3{
    text-align: center;
  }
  @media (max-width: 767.98px){
    .firstname{
      margin-left: 0;
      font-size: 22px;
      font-weight: 400;
    }
    .referralcode{
      font-weight: 500;
      font-size: 15px;
    }
    .sidebar{
      width: 40%;
    }
  }