
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
.iitbhm{
  background-color: white;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  width: 100vw;
}

.iitbhm {
  position: relative;
  overflow: hidden;
  animation: travel 10s linear infinite;
  background-color: transparent;
}

.iitbhm:hover {
  /* background-color: white; */
  animation-play-state: paused;
}

@keyframes travel {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}


@keyframes travel {
  0% {
    left: 100%;
  }
  100% {
    left: -100%; /* Adjust this value depending on your layout width */
  }
}

.main{
    /* background-color: rgb(32, 31, 31); */
    background-color: #2d1674;
    /* padding: 30px; */
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: 0;

}

.main::-webkit-scrollbar {
  display: none;
}

.photu{
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
#mainpic{
  /* height: 580px; */
  /* height: 30%; */
  width: 100%;
}
.aboutaavhan{
  display: flex;
  justify-content: center;
}
.aavhanunify{
  display: flex;
  justify-content: center;
}
h1{
    text-align: center;
    /* color: rgb(238, 228, 46); */
    color: #e5a6f4;
    font-family: 'Saira Stencil One', cursive;
    font-size: 3.5rem;
    letter-spacing: 2px;
}
h2{
  margin-top: 50px;
    text-align: center;
    /* color: rgb(23, 245, 186); */
    color: #f1ff9d;
    font-weight: bold;
    
}
.content{
    padding: 40px;
    color: white;
    width: 70%;
}
.card-title{
  color: #2d1674;
  font-weight: 650;
}
h3{
  color: wheat;
  text-align: center;
}
h5{
  text-align: center;
}
p{
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(140, 136, 136, 0.2);
    transition: transform 0.3s;
    /* background-color: rgb(115, 172, 238); */
    background-color: white;
    border: 0.5px solid rgb(131, 124, 124);
    /* background/-image: url('../../../assets/intern.jpg'); */
    background-size: cover;
    margin: 2px;
  }

  .heading:hover{
    font-size: 4rem;
    transition: font-size 0.3s;

  }
  .heading:not(:hover){
    font-size: 3.5rem;
    transition: font-size 0.3s;

  }
  
  .card:hover {
    transform: scale(1.05);
  }




  /* Custom CSS for the expansion panel */
body {
  margin: 0;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  background-color: #393434;
} 
.panel {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  position: relative;
}

.panel-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  width: 100%;
  text-align: left;
}

.panel-content {
  display: none;
  padding: 10px;
}

.panel.active .panel-content {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(0); /* Set initial rotation to 0 degrees */
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s;
  transform-origin: center; /* Set the rotation point to the center of the arrow */
}

.panel.active .arrow {
  transform: translateY(-50%) rotate(-135deg);
}
@media (max-width: 767.98px) {
  .aboutaavhan{
    display: flex;
  }
  .content{
    padding: 0px;
    margin: 0;
  }
  .iitbhm{
    font-size: 13px;
  }
}