<div class="main">
  <div class="iitbhm">
    Click <a href="https://l.instagram.com/?u=http%3A%2F%2Fbit.ly%2F3ZgESbZ&e=AT3qjKjWcLBSjdlrVkrtD-sO-zkc0q4PkBVTXFBU5CT6YxZ-JnhNQWNFRDP9YPqxFFwTNy-qB5MUYmyV33QsjgwRuDEhZUnK">here</a> to be part of the India's first carbon neutral marathon.
  </div>
  <div class="photu">
    <img src="../../../assets/aavhanunify7.png" alt="" id="mainpic">


  </div>
  <!-- <h1 class="heading">AAVHAN UNIFY'24</h1> -->
  <h2>ABOUT AAVHAN</h2>
  <div class="aboutaavhan">
    <p class="content">“What we do in life, echoes in Eternity”
      <br>
      <br>
      Elude the labyrinth of urban life, inspire the warrior within at Aavhan 2023.
      <br>
      <br>
      Aavhan, where the spirit of sport meets the grandeur of camaraderie! Imagine a colossal gathering of over 6000 spirited individuals, hailing from 150+ top-notch colleges, converging at IIT Bombay. For three exhilarating days, we celebrate athleticism, perseverance, and pure euphoria, with a breathtaking lineup of 20+ sports. It's more than a fest; it's an unforgettable sporting spectacle, where champions are born, memories are etched, and bonds are forged. Don't just spectate, participate in the essence of Aavhan! 🏆
  </div>
  <!-- <app-slider></app-slider> -->

  <h2>What Is AAVHAN UNIFY!!</h2>
  <div>
    <div class="aavhanunify">
      <p class="content">
        Aavhan Unify invites you to step into the heart of India's premier sports festival at IIT Bombay! Picture yourself as the driving force behind an electrifying celebration of athleticism, teamwork, and pure passion. As a College Ambassador, you'll be at the forefront, uniting students from all corners of the nation in the spirit of sportsmanship. 
        This is your chance to make waves, ignite the fervor, and create unforgettable memories. Showcase your leadership skills, connect with sports enthusiasts, and be part of a dynamic team that brings the magic of sports to life. Together, we'll write history, one game at a time. Join Aavhan Unify – where you're not just an ambassador; you're a game-changer! 🏆🏅🚀
        Gallery our reach and number of sports
              </p>
    </div>
    
      <h3>INCENTIVES</h3>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CERTIFICATE</h5>
            <p class="card-text">Certficate of completion as a Marketing Intern at Aavhan, IIT BOMBAY.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">WORKSHOP</h5>
            <p class="card-text">Free coding and sports analytics workshops for top 10 CAs.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">INTERNSHIP</h5>
            <p class="card-text">NGO interns/interview round for top performing CA's</p>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">College Thrill  </h5>
            <p class="card-text">Enjoy 5-10% discount for your college students in the Aavhan Main Festival</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gift Pack of Sponsers</h5>
            <p class="card-text">Chance to win glorious giveaways from noteworthy sponsors and Aavhan</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Referral And Many more</h5>
            <p class="card-text">10% discounts to students coming through CA program.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  
  <app-dashboard></app-dashboard>
  

 
  
